.topic_index_update {
    background-image: url(file:///E:/html4/images/bg_bodyrepeat.png);
    width: 1349px;
}
div{display: block;}
div.WB_global_nav {
    width: 1349px;
    position: fixed;
    font: 12px/1.125 Arial, Helvetica, sans-serif;
    z-index: 9999;
    background-image: url(http://img.t.sinajs.cn/t5/style/images/global_nav/bg_nav.png?id=1370232467958);
}
div.gn_bg {
    background-image: url(http://img.t.sinajs.cn/t5/style/images/global_nav/bg_line.png?id=20140718asdf1100);
    color: rgb(51, 51, 51);
}
div.gn_header {
    position: relative;
    width: 980px;
    margin: 0 auto;
}
div.gn_logo_v2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 190px;
    margin: 0px 0 0 -27px;
}
div.box {
    width: 190px;  
}
span.logo {
    background: url("E:html4/images/global_nav/bg_line.png?id=20140718asdf1100") no-repeat -548px -4px;
}
.link {
    position: relative;
    margin: -39px 0 0;
    background: url("E:html4/images/global_nav/bg_line.png?id=20140718asdf1100") no-repeat -548px -45px;
}
.WB_global_nav a {
    color: #0A8CD2;
    text-decoration: none;
}
div.gn_nav {
    float: left;
    margin: 0 0 0 150px;
    font: 12px/1.125 Arial, Helvetica, sans-serif;
}
div.gn_title {
    position: relative;
    float: left;
    font-size: 14px;
    font: 12px/1.125 Arial, Helvetica, sans-serif;
}
.gn_tab {
    display: inline-block;
    position: relative;
    z-index: 9999;
    padding: 0 2px 0 0;
    cursor: pointer;
    line-height: 16px;
    color: #fff;
}
.gn_tab i {
    display: inline-block;
    padding: 11px 19px 11px 20px;
    font-style: normal;
    font-weight: normal;
}
.WB_global_nav.gn_title.gn_tab.W_arrow {
    position: absolute;
    top: 17px;
    margin: 0 0 0 4px;
}
.WB_global_nav.W_arrow {
    width: 10px;
    height: 10px;
    vertical-align: top;
}
div.gn_search {
    position: relative;
    float: left;
    width: 235px;
    height: 24px;
    margin: 7px 0 0 25px;
    border-radius: 24px;
    background: linear-gradient(to bottom, #f7f7f7 0%,#ededed 50%,#e6e6e6 100%);
    font: 12px/1.125 Arial, Helvetica, sans-serif;
}
input.gn_input {
    width: 193px;
    margin: 5px 0 0 10px;
    border: 0;
    color: #808080;
    vertical-align: top;
}
a.gn_btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 4px 0 0;
    background: url("E:html4/images/global_nav/bg_line.png?id=20140718asdf1100") no-repeat;
    background-position: -450px -6px;
    vertical-align: top;
    font: 12px/1.125 Arial, Helvetica, sans-serif;
}
.gn_topmenulist_search {
    left: 0;
    top: 23px;
    min-width: 232px;
    margin: 3px 0 0;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgb(0,0,.2);
}
.gn_topmenulist {
    position: absolute;
    z-index: 9998;
    padding: 5px 0 0;
    border: 1px solid #333;
    background: #fff;
    font-size: 12px;
}
div.selectbox {
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    padding: 5px 0;
    width: 232px;
    line-height: 13.5px;
}
p.title {
    height: 14px;
    padding: 4px 20px;
    cursor: pointer;
    color: #0078b6;
    width: 192px;
}
div.plus {
    font-size: 12px;
    width: 232px;
    line-height: 13.5px;
}
.gn_person {
    position: relative;
    float: right;
    height: 38px;
}
.no_login {
    line-height: 38px;
    color: #fff;
    font: 12px/1.125 Arial, Helvetica, sans-serif;
}
.W_vline {
    margin: 0 8px;
}
.no_login a {
    width: 24px;
    height: 14px;
}
div.W8_bodywrap {
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/common/public/bg_bodywrap.jpg?id=201307081453);
    width: 1349px;
}
.W8_main {
    width: 980px;
    margin: 0 auto;
}
.W8_header.clearfix {
    width: 980px;
    padding-top: 41px;
    margin: 0 auto;
}
.W8_logo.clearfix {
    float: left;
  }
.W8_header h1 {
    position: relative;
    float: left;
    width: 178px;
    margin: 13px 10px 0 27px;
    font-style: normal;
    font-weight: normal;
}
.W8_header h1 em {
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/common/public/logo.png?id=201307081453);
    text-indent: -9999px;
}
.W8_header h1 a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 178px;
    height: 100%;
    color: #0078b6;
    text-indent: -9999px;
}
div.W8_mian_bg.clearfix {
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/common/public/bg_right_index.png?id=1364803206530);
    box-shadow: 0 0 5px rgba(0,0,0,.17);
    color: rgb(51, 51, 51);
}
div.W8_2cols_L {
    float: left;
}
div.W8_wrap.W8_boxlinecolor {
    min-height: 500px;
    padding: 30px 15px 50px 20px;
    border-color: #ededed;
}
div#pl_content_interestTopic.interest_topic {
    width: 715px;
}
div.infowrap.clearfix {
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/topic/nav_bg_update.png?id=1364803206530);
    width: 715px;}
div.interest_topicL {
    display: inline;
    float: left;
    width: 134px;
}
div.topic_navlist_update {
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/topic/nav_bg_update.png?id=1364803206530);
    margin-bottom: 20px;}
li.cur {
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/topic/topic_img.png?id=1364805108440);
    width: 134px;
    line-height: 34px;
    margin-bottom: 8px;
    outline-style: none;
    display: list-item;
}
li.cur a {
    margin-right: 8px;
    border-bottom: 1px dotted #e1e1e1;
}
span.icon {
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/topic/left_nav_icon.png?id=201409091118);
    display: inline-block;
vertical-align: -5px;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.icon.icon_0_99 {
    background-position: -60px 0;
}
span.name {
    color: #fff;
    font-size: 12px;
}
.topic_navlist_update li {
    width: 134px;
    line-height: 34px;
    margin-bottom: 8px;
    list-style: none;
    display: list-item;
}
.icon.icon_0_98 {
    background-position: -30px -330px;
}
.icon.icon_0_100000 {
    background-position: -90px -150px;
}
.icon.icon_0_2 {
    background-position: -150px 0;
}
.icon.icon_0_1 {
    background-position: -30px -240px;
}
span.icon.icon_0_93 {
    background-position: -30px -300px;
}
span.icon.icon_0_9 {
    background-position: -30px -210px;
}
span.icon.icon_0_91 {
    background-position: -30px -30px;
}
span.icon.icon_0_5 {
    background-position: -90px -180px;
}
span.icon.icon_0_102 {
    background-position: -30px 0px;
}
span.icon.icon_0_100 {
    background-position: -90px -90px;
}
span.icon.icon_0_101 {
    background-position: -90px -120px;
}
span.icon.icon_0_103 {
    background-position: -90px -300px;
}
span.icon.icon_0_94 {
    background-position: -30px -90px;
}
span.icon.icon_0_6 {
    background-position: -90px -270px;
}
span.icon.icon_0_97 {
    background-position: -30px -270px;
}
span.icon.icon_0_3 {
    background-position: -30px -360px;
}
div.interest_topicR {
    display: inline;
    float: right;
    width: 572px;
}
div.topic_list_new {
    margin-bottom: 20px;
}
div.title_tab.clearfix {
    line-height: 23px;
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/topic/index_line_bg.png);
    margin-bottom: 20px;
}
div.topic {
    float: left;
    font-size: 14px;
    font-weight: 700;
    background: #fff;
    margin-left: 10px;
    padding: 0 5px;
}
i.W8_imgicons.icon_askS {
    vertical-align: -3px;
    margin-left: 5px;
    background-position: 0 -150px;
    width: 16px;
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/common/ico_warn.png?id=201309051400);
    display: inline-block;
    margin: 0 3px 0 0;
}
div.tab {
    float: right;
    background: #fff;
    border: 1px solid #ccc;
    padding: 1px;
}
.tab a {
    color: #333;
    text-decoration: none;
}
div.rank_nav {
    background: #ededed;
    line-height: 26px;
    margin-bottom: 15px;
}
span.num {
    width: 28px;
    text-align: center;
    margin-left: 5px;
    margin-right: 3px;
}
span.topic {
    width: 400px;
    text-indent: 5px;
}
span.presenter {
    text-indent: 10px;
}
.topic_list_new li {
    margin-bottom: 13px;
    padding-bottom: 13px;
    border-bottom: 1px dotted #e1e1e1;
}
div.num {
    width: 28px;
    text-align: center;
    margin-left: 5px;
    margin-right: 3px;
    display: inline;
    float: left;
}
.topic_list_new.list_1.num span {
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/topic/topic_img.png?id=1364805108442);
    background-position: 0 -680px;
}
.topic_list_new.list_2.num span {
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/topic/topic_img.png?id=1364805108442);
    background-position: 0 -720px;
}
.topic_list_new.list_3.num span {
    background-position: 0 -810px;
}
.topic_list_new.num_triple span {
    background-position: 0 -760px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    color: #408000;
    font-weight: 700;
    font-family: Tahoma;
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/topic/topic_img.png?id=1364805108442);
}
div.main {
    width: 390px;
    border-right: 1px solid #e1e1e1;
    padding-right: 8px;
    margin-right: 8px;
    margin-left: 5px;
    display: inline;
}
.topic_list_new.hd {
    margin-bottom: 1px;
}
a.name {
    font-size: 16px;
    font-weight: 700;
    margin-right: 5px;
    color: #0078b6;
    text-decoration: none;
}
a.place {
    margin-left: 2px;
    padding: 2px 3px;
    border-radius: 2px;
    background: #77c4ed;
    color: #fff;
    text-decoration: none;
}
.process {
    float: left;
 width: 290px;
 margin-top: 8px;
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/topic/topic_img.png?id=1364805108439);
}
span.solid {
    float: left;
    height: 7px;
    background-image: url(http://img.t.sinajs.cn/t4/appstyle/topic/images/topic/topic_img.png?id=1364805108442);
}
span.empty {
    display: inline;
    float: left;
}
.state {
    float: right;
}
.presenter_name {
    margin-top: 21px;
    width: 120px;
    line-height: 14px;
    float: left;
}
.presenter_name a {
    color: #0078b6;
    text-decoration: none;
}
.topic_index_update.W8_2cols_R {
    float: left;
    width: 230px;
}
.W8_wrap {
    padding: 30px 23px 30px 22px;
}
h4.W8_mod_tit {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 14px;
}
i.icon_mc {
    width: 14px;
    background: url(E:html4/images/topic_img.png) no-repeat 0 -920px;
    margin-right: 6px;
    vertical-align: -2px;
}
i.W8_imgicons.icon_asks {
    vertical-align: -2px;
    margin-left: 5px;
    background-position: 0 -150px;
    width: 16px;
    background-image: url(file:///E:/html4/images/ico_warn.png);
    margin: 0 3px 0 0;
}
.info.clearfix {
    margin: 0 -5px;
}
input {
    outline-style: none;
}
.input_topic.W8_input_default {
    background: url(E:html4/images/topic_img.png) no-repeat -440px -380px;
    width: 98px;
    padding: 7px 20px 6px;
    border: 1px solid #fafafa;
    float: left;
}
.apply_btn {
    background: url(E:html4/images/topic_img.png) no-repeat -440px -420px;
    width: 49px;
    text-indent: -999999px;
    cursor: pointer;
    float: left;
    height: 28px;
    margin-left: 5px;
}
.topic_rmpic {
    zoom:1;margin-bottom: 5px;
    width: 184px;
    margin-top: 25px;
}
.pic {
    position: relative;
    }
div#pl_content_newTopic.recommend_posts {
    margin-bottom: 16px;
}
.recommend_posts.W8_mod_tit {
    margin-bottom: 10px;
}
.W8_2cols_R.W8_bgcolorb {
    background: #f2f2f2;
}
.content {
    margin: 4px 0 11px 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    line-height: 20px;
}
.arrow {
    margin: -15px 0 0 15px;
    font-size: 18px;
}

.recommend_posts li {
    margin-bottom: 7px;
    line-height: 20px;
    list-style: none;
}
.W8_fonticons.W8_linecolor_fc {
    margin: -1px 0 0 0 ;
}
.W8_fonticons.W8_bgcolor_fc {
    margin: -19px 0 0 0 ;
    font-family: w8icon-webfont;
    color: rgb(242, 242, 242);
}
.con_v2.clearfix {
    margin: -2px 0 0;
    padding: 0 7px 4px;
}
.con_v2 span {
    float: left;
    width: 50px;
}
.content.W8_linecolor.W8_bgcolorb.W_textb {
    background: #f2f2f2;
    margin: 4px 0 11px 0;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #e3e3e3;
    color: #666;
    height: 23px;
    text-align: left;
}
span.imgs {
    width: 15px;
    margin: 0 5px 0 0;
}
.user {
    width: 98px;
}
.W8_footer {
    background: #4b99c6 url(../images/bg_footer.png) 0 0 repeat-x;
    width: 100%;
    margin-top: 40px;
}
.W8_footer_wrap.W_linkc.W_textb.clearfix {
    width: 950px;
    margin: 0 auto;
    padding: 29px 0 20px;
}
.W8_footer.help_link {
    float: left;
}
.help_link a {
    color: #fff;
}
.W8_footer p {
    margin-bottom: 10px;
}
.W8_footer.copy {
    float: left;
    text-align: right;
}
.copy a {
    color: #fff;
}
div#pl_part_goTop.W8_gotop {
    margin-left: 494px;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid #fff;
    position: fixed;
    left: 50%;
    bottom: 135px;
    width: 20px;
    padding: 5px 3px 0;
    border-radius: 3px;
    font-family: Arial;
    text-align: center;
    line-height: 14px;
    float: left;
}
.W8_gotop span {
    padding: 9px 0 12px;
    color: #0078b6;
    cursor: pointer;
}
.W8_gotop span em.sj {
    display: block;
    height: 8px;
    margin: 0 0 0 3px;
    font-size: 28px;
    text-align: center;
}
.W8_gotop span em.fk {
    display: block;
    height: 5px;
    margin: -1px 0 2px 4px;
    font-size: 11px;
    text-align: center;
    padding-right: 5px;
}